/* ELEMENT */
body {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

td {
  margin: 0px;
  padding-bottom: 20px;
}

input {
  margin: 0px;
  margin-top: -5px;
  margin-bottom: 10px;
  padding: 15px;
  border: 1.5px solid transparent;
  transition: border-color 0.3s;
  transition: outline-color 0,3s;
  border-radius: 10px;
  background-color: rgb(246, 246, 246);
} /* data inputs */

input:hover {
  border-color: rgb(210, 210, 210);
} /* data inputs blinking border */

button .bi {
  font-size: 30px;
}

/* CLASS */
.main-title-register {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.new-profile-title {
  position: absolute;
  top: 22%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.enter-data-title {
  position: absolute;
  top: 28%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(131, 131, 131);
}

.return-login-button button {
  position: absolute;
  top: 20%;
  left: 30%;
  background: none;
  border: none;
  cursor: pointer;
}

.return-login-button .return-login-pop-up-text {
  margin: 0px;
  padding: 10px;
  width: 120px;
  position: absolute;
  top: 14%;
  left: 27.5%;
  border-radius: 6px;
  opacity: 0;
  transition: opacity 0.5s;
  font-size: 15px;
  text-align: center;
  color: white;
  background-color: black;
} /* popup return login */

.form-register {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
} /* display form */

.second-table-register {
  display: none;
}

.button-table-register button {
  margin: 0;
  padding: 15px;
  border: 0;
  border-radius: 10px;
  width: 410px;
  position: relative;
  top: 50px;
} 

/* ID */
#nextStep,
#signIn {
  color: black;
  background-color: rgb(34, 193, 193);
  cursor: pointer;
}

#nextStep:hover {
  animation: blink-hover 1s infinite;
}
@keyframes blink-hover {
  0% {opacity: 0.7;}
  50% {opacity: 0.7;}
  100% {opacity: 0.7;}
} /* blinking next step button */

#signIn {
  position: relative;
  top: 27px;
  display: none;
}

#backStep {
  cursor: not-allowed;
}