.mainTitle {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.newCreateTitle {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.enterDataTitle {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(131, 131, 131);
}

.displayForm-register {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
} /* display form */

table {
  margin: 0px;
  padding: 20px;
}

/* .tableData3, .tableData5 {
  margin: 0px;
  padding-top: 20px;
} */

td {
  margin: 0;
  padding: 5px;
  border: 0;
}

label {
  display: flex;
  justify-content: left;
  
}
 /*entrada de datos*/
input {
  margin: 0px;
  padding: 15px;
  border: 1.5px solid transparent;
  transition: border-color 0.3s;
  border-radius: 10px;
  background-color: rgb(246, 246, 246);
}

/*borde parapadeante para entrada de datos*/
input:hover {
  border-color: rgb(210, 210, 210);
}

/*botones*/
button {
  margin: 0;
  padding: 15px;
  border: 0;
  border-radius: 10px;
  width: 410px;
  position: relative;
  top: 50px;
}

/*registro*/
#next {
  color: black;
  background-color: rgb(34, 193, 193);
}

/*parpadeo para boton next*/
#next:hover {
  animation: blink-hover 1s infinite;
}

@keyframes blink-hover {
  0% {opacity: 0.7;}
  50% {opacity: 0.7;}
  100% {opacity: 0.7;}
}
